.DS_STORE
*.pyc
*.swp
/bazel-*
/tools/build_output/
/tools/build
package-lock.json
**/node_modules
.vscode

/tools/cache/
/build
/CMakeFiles
/src/routines
/src/other_routines
__pycache__
*.pyc
*.pyo
/src/python/messages_pb2.py
*.log*
/blender
/editor
/src/build
/src/*.html
/src/*.c
/src/generators/rendered
*.so
